---
import Layout from '../layouts/Layout.astro';
import PrivacyPolicyComponent from '../components/PrivacyPolicy.astro';
---

<Layout>
    <main class="pt-24 bg-gray-50 min-h-screen">
        <PrivacyPolicyComponent />
    </main>
</Layout>