---
import Layout from '../layouts/Layout.astro';
import StartHereForm from '../components/StartHereForm.svelte';
---

<Layout>
    <main class="pt-20">
        <StartHereForm />
    </main>
</Layout>