---
import Layout from '../layouts/Layout.astro';
import TermsOfServiceComponent from '../components/TermsOfService.astro';
---

<Layout>
    <main class="pt-24 bg-gray-50 min-h-screen">
        <TermsOfServiceComponent />
    </main>
</Layout>