---
import { SERVICES } from '../constants';
import Services from '@components/Services.astro'
import type { Service } from '../types';
const { sectionHeader } = Astro.props;
---


  {(() => {
    if (sectionHeader === 'services') {
    //   return <Services sectionHeader="services" />;
    } else if (sectionHeader === 'projects') {
    //   return <p>Welcome, Editor!</p>;
    } else if (sectionHeader === 'contact') {
    //   return <p>Welcome, Editor!</p>;
    } else {
    //   return <p>Welcome, User!</p>;
    }
  })()}
    <!-- <div class="lg:basis-2/3 flex lg:items-center pl-4">
        <Services />
    </div> -->
</div>