---
import "../global.css"
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.astro';

const isHomePage = Astro.url.pathname === '/';
const isStartHerePage = Astro.url.pathname === '/starthere';
const isSurveyPage = Astro.url.pathname === '/srv/survey-2025001';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon2.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>n2cDigital :: Home of many things beyond even our own imagination.</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&display=swap" rel="stylesheet">


	</head>
	<body class="relative">
		<Header client:load isHomePage={isHomePage} isStartHerePage={isStartHerePage} isSurveyPage={isSurveyPage} />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Open Sans', sans-serif;
	}
	h2 {
		font-family: 'Oxanium' !important, sans-serif;
	}
</style>
